@import url(<https://fonts.googleapis.com/css?family=Oswald:700>);

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:800px;
  
}

h1::before {
    content: ' ';
    background:#4A90E2;
    display: inline-block;
    width: 23px;
    height: 23px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    left: 70px;
    top: 9px;

}

h1::after {
    content: ' ';
    background:#4A90E2;
    display: inline-block;
    width: 23px;
    height: 23px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: 700px;
    top: 9px;

}


